@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: #343639;
  /* transition: 0.5s; */
}

body {
  min-height: 100vh;
  background: #343639;
}

/* Member content container 1*/

.toflex_whole_container{
  display: flex;
  justify-content: space-between;
}

.content_container1{
  padding-left: 150px;
  padding-top: 50px;
  color: white;
  width: 80%;
}

#User_toGreet{
  font-size: xx-large;
  font-weight: bold;
}

.member_workout{
  margin-top: 50px;
  /* background-color: #323538; */
  background-color: #323538;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #1E1E1E;
}

.workout{
  padding: 10px 0px 10px 10px;
  border-bottom: 0.1px solid #EC7E4A;
}

.workout span{
  padding: 20px;
}

.workouts_container{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.workouts button{
  margin: 20px 20px 20px 20px;
  height: auto;
  text-align: left;
  color: white;
  background-color: #373D41;
  border-radius: 11px;
}

.workouts button:hover{
  margin: 20px 20px 20px 20px;
  height: auto;
  text-align: left;
  color: white;
  background-color: #EC7E4A;
  border-radius: 11px;
}

.workouts button div{
  padding: 10px;
}

.workouts p{
  opacity: 50%;
  margin-top: 5px;
}

.material-symbols-outlined {
  font-size: 100%;
}

/* =================================Member content container 2 ======================*/

.content_container2{
  padding-right: 50px;
  padding-left: 150px;
  padding-top: 50px;
  color: white;
}

.map_and_progress{
  display: flex;
  justify-content: space-between;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.map_and_progress .div1 img{
  height: 100%;
}

.map_and_progress .div2 {
  height: auto;
  text-align: center;
  background-color: #464646;
  border-radius: 20px;
}

.map_and_progress .div2 .div2_content_container div{
  display: flex;
  flex-direction: column;
}

.map_and_progress .div2 img{
  border-radius: 100%;
  padding: 10px;
  background-color: #EC7E4A;
}

.map_and_progress .div2_content_container{
  padding: 20px 20px 20px 20px;
}

.map_and_progress .div2_content_container a{
  font-size: smaller;
  opacity: 50%;
  color: white;
  margin-top: 100px;
}

.map_and_progress .div2_content_container a:hover{
  font-size: smaller;
  opacity: 50%;
  color: #EC7E4A;
  margin-top: 100px;
}





/*========================== workout plan content page ===================================*/
.content_page{
  color: white;
  padding-left: 100px;
}

.title_div h1{
  color: white;
  padding: 20px;
  box-shadow: 2px 3px rgb(39, 39, 39);
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: lighter;
  padding-left: 100px;
}
.title_div h1 .page_title{
  border-bottom: 2px solid ;
  border-image: linear-gradient(to right, #EC7E4A 50%, transparent 50%) 100% 1;
  font-weight: normal;
}

.add_plan{
  padding: 10px;
  margin-bottom: 20px;
}

.add_plan button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border-radius: 10px;
}

.add_plan button:hover{
  color: white;
  box-shadow: 2px 3px #1E1E1E;
  background-color: #EC7E4A;
  border-radius: 10px;
  transition: 0.5s;
}

.plan_div{
  border-radius: 10px;
  box-shadow: 1px 2px 4px black;
  margin-right: 20px;
  background-color: #323538;
  width: auto;
  height: auto;
  padding: 20px;
  margin-bottom: 50px;
}
#add_new_template_pop_up .button_save, .button_cancel, #modify_workout_popup .button_save, #modify_workout_popup .button_cancel, #modify_meal_popup .button_save, #modify_meal_popup .button_cancel,  #add_workout_popup .button_save, #add_workout_popup .button_cancel, #add_meal_popup .button_save, #add_meal_popup .button_cancel{
  color: white;
  box-shadow: 1px 2px 4px black;
  background-color: #323538;
  border: 1px solid #EC7E4A;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#add_new_template_pop_up .button_save:hover, #modify_workout_popup .button_save:hover,  #add_workout_popup .button_save:hover, #modify_meal_popup .button_save:hover, #add_meal_popup .button_save:hover{
  color: white;
  background-color: #EC7E4A;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#add_new_template_pop_up .button_cancel:hover, #modify_workout_popup .button_cancel:hover,  #add_workout_popup .button_cancel:hover, #modify_meal_popup .button_cancel:hover, #add_meal_popup .button_cancel:hover{
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#add_new_template_pop_up label{
  float: left;
}

#add_new_template_pop_up .template_name{
  background-color: #D9D9D9;
  width: 100%;
  height: auto;
}
#add_new_template_pop_up .template_description{
  background-color: #D9D9D9;
  width: 100%;
  height: 100px;
}
#add_new_template_pop_up h1{
  margin-bottom: 20px;
}


#add_new_template_pop_up{
  color: white;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: auto;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: #323538;
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
  border-radius: 10px;
  border: 1px solid #EC7E4A;
}
#add_new_template_pop_up.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#create_new_workout_pop_up{
  color: black;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: auto;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: white;
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
  border-radius: 20px;
}
#create_new_workout_pop_up.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#create_new_workout_pop_up .button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#create_new_workout_pop_up .button:hover{
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#create_new_workout_pop_up label{
  float: left;
}

#create_new_workout_pop_up .template_name{
  width: 100%;
  height: auto;
}
#create_new_workout_pop_up .template_description{
  width: 100%;
  height: 100px;
}


#view_workout_popup{
  color: white;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: fit-content;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: #323538;
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
  border-radius: 10px;
  border: 1px solid #EC7E4A;
}
#view_workout_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#view_workout_popup .button_div{
  text-align: center;
}

#view_workout_popup .button{
  color: white;
  margin-top: 20px;
  background-color: #323538;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}
#view_workout_popup .button:hover{
  color: white;
  background-color: black;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

#view_workout_popup label{
  float: left;
}

#view_workout_popup .template_name{
  width: 100%;
  height: auto;
}
#view_workout_popup .template_description{
  width: 100%;
  height: 100px;
}

#view_workout_popup td, #view_workout_popup th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view_workout_popup tr:nth-child(even){background-color: #5F6163;}

#view_workout_popup th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #EC7E4A;
  color: white;
}

#view_workout_popup table{
  width: 1000px;
}

#view_workout_popup table tr{
  text-align: center;
}

#view_workout_popup table tr button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}

#view_workout_popup table tr button:hover{
  color: white;
  background-color: #EC7E4A;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

#view_workout_popup .title_and_button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#view_workout_popup .title_and_button button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}

#view_workout_popup .title_and_button button:hover{
  color: white;
  background-color: #EC7E4A;
  padding: 10px;
  border-radius: 10px;
}

#modify_workout_popup, #modify_meal_popup{
  border: 1px solid #EC7E4A;
  position: fixed;
  border-radius: 10px;
  width: 30%;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
}

#modify_workout_popup.active, #modify_meal_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#modify_workout_popup .modify_div, #add_workout_popup .add_div, #modify_meal_popup .modify_div, #add_meal_popup .add_div{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#modify_workout_popup h1, #add_workout_popup h1, #modify_meal_popup h1, #add_meal_popup h1{
  padding: 10px;
  text-align: center;
}

#modify_workout_popup .modify_input, #add_workout_popup .add_input, #modify_meal_popup .modify_input, #add_meal_popup .add_input{
  padding: 5px;
  background-color: #D9D9D9;
}


#add_workout_popup{
  border: 1px solid #EC7E4A;
  position: fixed;
  border-radius: 10px;
  width: 30%;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
}

#add_workout_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.template img{
  background-repeat: no-repeat;
  background-color: #343639;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 20px;
  width: 100%;
}

.template {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 15px;
  border-radius: 20px;
  text-align: center;
  width: 30%;
  color: white;
  box-shadow: 1px 2px 4px black;
}

.template button{
  color: white;
  width: 60%;
  margin: 10%;
  padding: 10px;
  background-color: #343639;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}
.template button:hover{
  color: white;
  box-shadow: 1px 2px 4px black;
  background-color: #EC7E4A;
  border-radius: 10px;
}

.template_toflex{
  display: flex;
  justify-content: space-between;
}


















/* ====================================Meal Plan Content page ==============================*/

#view_meal_popup{
  color: white;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: fit-content;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: #323538;
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
  border-radius: 10px;
  border: 1px solid #EC7E4A;
}
#view_meal_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#view_meal_popup .button_div{
  text-align: center;
}

#view_meal_popup .button{
  color: white;
  margin-top: 20px;
  background-color: #323538;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}
#view_meal_popup .button:hover{
  color: white;
  background-color: black;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
}

#view_meal_popup label{
  float: left;
}

#view_meal_popup .template_name{
  width: 100%;
  height: auto;
}
#view_meal_popup .template_description{
  width: 100%;
  height: 100px;
}

#view_meal_popup td, #view_meal_popup th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view_meal_popup tr:nth-child(even){background-color: #5F6163;}

#view_meal_popup th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #EC7E4A;
  color: white;
}

#view_meal_popup table{
  width: 1000px;
}

#view_meal_popup table tr{
  text-align: center;
}

#view_meal_popup table tr button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}

#view_meal_popup table tr button:hover{
  color: white;
  background-color: #EC7E4A;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

#view_meal_popup .title_and_button{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#view_meal_popup .title_and_button button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}

#view_meal_popup .title_and_button button:hover{
  color: white;
  background-color: #EC7E4A;
  padding: 10px;
  border-radius: 10px;
}

#create_new_meal_pop_up{
  color: black;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: auto;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: white;
  visibility: hidden;
  opacity: 0;
  /* transition: 0.5s; */
  border-radius: 20px;
}
#create_new_meal_pop_up.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#create_new_meal_pop_up .button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#create_new_meal_pop_up .button:hover{
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#create_new_meal_pop_up label{
  float: left;
}

#create_new_meal_pop_up .template_name{
  width: 100%;
  height: auto;
}
#create_new_meal_pop_up .template_description{
  width: 100%;
  height: 100px;
}

#modify_meal_popup{
  border: 1px solid #EC7E4A;
  position: fixed;
  border-radius: 10px;
  width: 30%;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
}

#modify_meal_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}

#add_meal_popup{
  border: 1px solid #EC7E4A;
  position: fixed;
  border-radius: 10px;
  width: 30%;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  visibility: hidden;
  opacity: 0;
}

#add_meal_popup.active{
  visibility: visible;
  opacity: 1;
  /* transition: 0.5s; */
}






/*=============================== Members Content Page ========================================*/

#view_students{
  padding-left: 100px;
}

#view_students h1{
  color: white;
}

#view_students table{
  width: 1000px;
}

#view_students table tr{
  text-align: center;
}

#view_students table tr button{
  color: white;
  padding: 10px;
  background-color: #373D41;
  box-shadow: 1px 2px 4px black;
  border: 1px solid;
  border-color: #EC7E4A;
  border-radius: 10px;
}

#view_students table tr button:hover{
  color: white;
  background-color: #EC7E4A;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

#view_students td, #view_students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#view_students tr:nth-child(even){background-color: #5F6163;}

#view_students th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #EC7E4A;
  color: white;
}












/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #EC7E4A;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: black;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}
