@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: #343639;
}

body {
  min-height: 100vh;
  background: #343639;
}

/* workout plan content page */
.content_page{
  color: white;
  margin-left: 100px;
}

.content_page h1{
  padding: 20px;
}

.add_plan{
  padding: 10px;
  margin-bottom: 20px;
}

.add_plan button{
  padding: 10px;
  box-shadow: 2px 3px black;
  border-radius: 10px;
}

.add_plan button:hover{
  color: white;
  box-shadow: 2px 3px grey;
  background-color: #343639;
  border-radius: 10px;
}

.plan_div{
  border-radius: 10px;
  box-shadow: 5px 10px black;
  margin-right: 20px;
  background-color: white;
  width: auto;
  height: auto;
  padding: 20px;
  margin-bottom: 50px;
}
#add_new_template_pop_up .button{
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
#add_new_template_pop_up .button:hover{
  color: white;
  background-color: black;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#add_new_template_pop_up label{
  float: left;
}

#add_new_template_pop_up .template_name{
  width: 100%;
  height: auto;
}
#add_new_template_pop_up .template_description{
  width: 100%;
  height: 100px;
}


#add_new_template_pop_up{
  color: black;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 50px;
  width: auto;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background-color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border-radius: 20px;
}
#add_new_template_pop_up.active{
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.template img{
  background-repeat: no-repeat;
  background-color: #343639;
  border-radius: 20px;
  width: 200px;
}
.template {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  width: fit-content;
  border: 2px solid black;
  color: black;
}
.template input{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 1px 2px black;
  border-radius: 10px;
}
.template input:hover{
  color: white;
  box-shadow: 1px 2px grey;
  background-color: #343639;
  border-radius: 10px;
}

.template_toflex{
  display: flex;
  justify-content: space-between;
}






/* side bar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #EC7E4A;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 42px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: black;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 42px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}